#RPS-body {
    background-color: #023535;
    overflow: hidden;
    /* transition: ease-in-out 1.2s; */
}

.screen {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    height: 250px;
    background-color: #252525;
    border: 1px solid white;
    border-bottom: 15px solid rgb(20, 20, 20);
    margin-top: 50px;
    border-radius: 15px 15px 5px 5px;
    box-shadow: 0px 0px 50px #dfdfdf;
    transition: all 3s;
}
.stick {
    display: flex;
    width: 20px;
    height: 55px;
    background-color: white;
    border: 200px;
    transition: ease-in-out 2s ;
}
.down-screen {
    display: flex;
    width: 330px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    border-radius: 50%;
    transition: ease-in-out 2s ;
}


.result-modal {
    width: 100%;
    color: aliceblue;
    margin-top: 25px;
    transition: ease-in 0.5s;
}
.AI {
    color: #00cac7;
    width: 100%;
}
.img-modal {
    display: flex;
    width: 70px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
}

.user-choise {
    width: 300px;
    height: 250px;
    background-color: rgba(65, 0, 0, 0.26);
    border-radius: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    box-shadow: 0px 0px 30px gray;
    transition: ease-in-out 2s ;
}
.user-choise img {
    width: 95px;
    height: auto;
    filter: drop-shadow(20px 15px 10px black);
}




#rock {
    margin-left: 20px;
    margin-top: 10px;
}
#paper {
    margin-left: 75px;
}
#scissors {
    margin-top: 30px;
}