
:root {
    --radiusTL: 50%;
    --radiusTR: 65%;
    --radiusDL: 95%;
    --radiusDR: 25%;
}

*{
    box-sizing: border-box;
} 

#start-body {
    background-color: #253;
}

.start-container {
    min-width: 350px;
    max-width: 650px;
    width: 50%;
    height: 50vh;
    background-color: aliceblue;
    border-top-left-radius:var(--radiusTL);
    border-top-right-radius:var(--radiusTR);
    border-bottom-left-radius:var(--radiusDL);
    border-bottom-right-radius:var(--radiusDR);
    transition: all 1s;
}

.game-name {
    font-size: xxx-large;
    font-family: MT;
}

.next-btn {}