
:root {
    --radiusTL: 50%;
    --radiusTR: 50%;
    --radiusDL: 50%;
    --radiusDR: 50%;

    --backgroundColor:  #023535;
    --containerColor : linear-gradient( #015958, #2b7889);
}

*{
    box-sizing: border-box;
} 

#start-body {
    background-color: var(--backgroundColor);
    overflow: hidden;
    transition: ease-in-out 1.2s;
}

.start-container {
    min-width: 340px;
    max-width: 650px;
    width: 50%;
    height: 50vh;
    background: var(--containerColor);
    border-top-left-radius:var(--radiusTL);
    border-top-right-radius:var(--radiusTR);
    border-bottom-left-radius:var(--radiusDL);
    border-bottom-right-radius:var(--radiusDR);
    transition: ease-in-out 1s;
    box-shadow: 15px 20px 5px white;
    border: 2px solid rgb(255, 255, 255) ;
}

.game-name {
    font-size: xxx-large;
    font-family: MT;
    text-align: center;
    color: rgb(192, 194, 196);
    display: flex;
}

.next-btn , .prev-btn {
    width: 100px;
    height:60px;
    background: none;
    border: none;
    margin-top: 120px;
    cursor: pointer;
    font-size: 50px;
    color: white;
}

.next-btn {    
    transform: translateX(-50px);
}
.prev-btn {
    transform: translateX(50px);
}

.next-btn:hover , .prev-btn:hover {
    color: rgb(155, 155, 155); 
    transition: all 0.6s;
}

.exit-to-menu {
    margin: 15px;
    width: 100px;
    background: none;
    border: none;
    font-size: large;
}
.exit-to-menu a {
    display: block;
    text-decoration: none;
    color: white;
    position: fixed;
}
.exit-to-menu a:hover {
    opacity: 0.7;
    transition: all 1s;
}